.App {
  text-align: center;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 4rem;
}

.cards {
  padding: 1rem 4rem;
  margin: auto;
}

.card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 200px;
  border: 1px solid #c2c2c2;
  border-radius: 5px;
  padding: 1rem;
}
.card__title {
  font-size: 1rem;
}
.card__title--h3 {
  font-size: 0.9rem;
}
.card__text {
  font-size: 1rem;
}

.card__img {
  width: 100%;
  object-fit: fill;
}

.l-flex-cards {
  display: flex;
  gap: 4rem;
  flex-wrap: wrap;
  justify-content: center;
}

.section {
}
.section__title {
  margin-bottom: 4rem;
  padding-bottom: 1rem;
  border-bottom: 1px solid #c2c2c2;
}
